<div class="responsive-wrap">
  <div class="navbar">
    <div class="navbar-left">
      <div class="brand">Healthy<span class="decor">Carely</span></div>
      <div class="navigations">
        <nav>
          <li><a href="#">Home</a></li>
          <li><a href="#">Doctor</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Review</a></li>
        </nav>
      </div>
    </div>
    <div class="navbar-right">
      <button id="login-btn" class="btn">Sign In</button>
      <button id="register-btn" class="btn btn-pry">Sign Up</button>
    </div>
  </div>
</div>
