<div id="make-schedule" class="container">
  <div class="left-page">
    <div class="img-wrapper">
      <div class="img-wrapper second"></div>
      <img [src]="imgUrl" alt="" />
    </div>
  </div>
  <div class="content">
    <h2>Make a schedule in advance with the available doctor</h2>
    <div class="text">
      Healthcare is a very painful process, especially if you’re not taking care
      of your health and having regular check-ups. HealhtyCarely makes it easier
      for everyone to schedule a doctor’s appointment.
    </div>
    <div class="points">
      <app-points point="Make a schedule online is easy"></app-points>
      <app-points point="Easy to connect with doctor"></app-points>
    </div>
    <button class="btn btn-pry">Make schedule now!</button>
  </div>
</div>
