<div id="hero-content">
  <div class="container hero-container">
    <h1>Medical care now simplified for <span class="decor">Everyone</span></h1>

    <div class="text">
      Health carely is a new way to get health insurance quotes. We offer tools
      similar to those provided by insurance companies for free and prices are
      based on donations and not restrictive health plan networks.
    </div>

    <button class="btn btn-pry">Contact Us</button>
  </div>

  <div class="right-page">
    <div class="hero-circle img-bg"></div>
    <img [src]="imageUrl" alt="Doctor Image" />
    <div class="card-profile-wrapper">
      <app-card-profile></app-card-profile>
    </div>
  </div>
</div>
