<div id="find-doctor">
  <div class="FD-container container">
    <div class="section-title">find doctor</div>

    <h2>Find the right doctor according to your complaint</h2>

    <div class="text">
      HealthCare.ly is a free, health app that goes beyond matching you with
      doctors. It actively helps you find the right doctor based on your medical
      and personal needs and connects you with your HealthCarely community for
      ongoing support throughout your journey to healthier living.
    </div>

    <div class="points">
      <app-points
        point="100% free app designed to help you find the right doctor for you."
      ></app-points>

      <app-points point="Available 900 doctors specialist"></app-points>
    </div>

    <button class="btn btn-pry">See the Doctors</button>
  </div>

  <div class="right-page">
    <div class="hero-circle img-bg"></div>
    <img [src]="imageUrl" alt="Doctor Image" />
    <div class="card-profile-wrapper">
      <app-available-doctors></app-available-doctors>
    </div>
  </div>
</div>
