<div id="app" (window:resize)="onResize($event)">
  <div class="wrapper" *ngIf="isDesktop">
    <header class="container">
      <app-navbar></app-navbar>
    </header>

    <main>
      <div class="section">
        <app-hero></app-hero>
      </div>

      <div class="section reveal">
        <app-fast-solutions></app-fast-solutions>
      </div>

      <div class="section reveal">
        <app-find-doctor></app-find-doctor>
      </div>

      <div class="section reveal">
        <app-schedule></app-schedule>
      </div>

      <div class="section reveal">
        <app-our-rating></app-our-rating>
      </div>

      <div class="section reveal">
        <app-feedback></app-feedback>
      </div>
    </main>

    <app-footer></app-footer>
  </div>

  <div class="mobile-view" *ngIf="!isDesktop">Please switch to a desktop</div>
</div>
