<div id="feedback" class="responsive-wrap">
  <h2>Our patients feedback about us</h2>
  <div class="tagline">their impression after using this application</div>

  <div class="content">
    <div class="background"></div>
    <div class="content-flex container">
      <div class="left-side">
        <div class="image">
          <img [src]="imgUrl" />
        </div>
      </div>
      <div class="right-side">
        <div class="text">
          <q
            >Healthycarely is an website and mobile app for you to feel better
            or get medical help. We offer you a 24/7 doctor service with no
            appointment needed</q
          >
        </div>
        <div class="user">
          <div class="user-details">
            <h4 class="user-name">Naufal Hidayat</h4>
            <div class="role">Student at Telkom University</div>
          </div>
          <div class="navigation">
            <button class="btn">
              <img src="../../../assets/icons/arrow/coolicon.png" alt="" />
            </button>

            <button class="btn">
              <img src="../../../assets/icons/arrow/coolicon_1.png" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
